{% extends 'base.html.twig' %}

{% block title %}Equipe Guestbook{% endblock %}

{% block body %}
    <h2>Give your feedback!</h2>
    {% for equipe in equipes %}
        <h4>{{ equipe }}</h4>
        <p>
            <a href="{{ path('equipe', { id: equipe.id }) }}">View</a>
        </p>

    {% endfor %}
{% endblock %}

