<li class="nav-item menu-items">
    <a class="nav-link" href="../../index.html">
        <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title"> {{name}} </span>
    </a>
</li>