<div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="{{ path('app_home') }}"><img src="{{ asset('teamtheme/assets/img/ballon.png') }}" alt="logo" class="logo-img" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>          
          {% include 'menu/repet.html.twig' with {'name': 'Evenement'} %}
          
          {% include 'menu/repet.html.twig' with {'name': 'Equipe'} %}  

          {% include 'menu/repet.html.twig' with {'name': 'Categorie'} %}       
        </ul>
      </nav>
</div>