{% extends 'base.html.twig' %}

{% block title %}Hello EquipeController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('teamtheme/assets/css/style.css') }}">

<div class="container-scroller">
    <div class="example-wrapper">
        <h1>Hello in Equipe ! </h1>

        <ul>
            {% for equipe in equipes %}
                <h3>{{ equipe.club.nom}} - {{ equipe.niveau}} - {{ equipe.categorie.nom|default('na')}}</h3>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
